<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="doFilter()" *ngIf="API.problems">
        <ion-icon slot="start" mode="ios" icon="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRiv()" *ngIf="API.problems">
        <ion-icon slot="start" mode="ios" icon="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      ECAM Reset +
    </ion-title>
  </ion-toolbar>
  <ion-searchbar animated showCancelButton cancelButtonText="Cancel" [(ngModel)]="query"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="API.problems">
    <ion-item *ngFor="let problem of (filter ? API.filteredProblems : API.problems) | filterBy:['title', 'sub_title']:query; let i = index" (click)="openProblem(i)">
      <ion-label>
        <h2>{{ problem.title }}</h2>
        <h3>{{ problem.sub_title }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
